
release-card
  display: block
  micro-voice()
  a
    text-decoration: underline
    @media (hover:hover)
      &:hover
        color: $color
  .record-cover
    border: 1px solid lightgray
  .title
    strong-voice()
    margin-top: $pad
  .date
    margin-top: $pad*.5
  .label
    margin-top: $pad*.5
  .purchase-links
    border: 1px solid purple
  p
    margin-top: $pad*.5
