
event-card
  display: block
  max-width: 500px
  calm-voice()
  .title
    strong-voice()
    margin: $pad 0
  .link
    a
      padding: $pad
      text-decoration: underline
      transform: translateX( -($pad) )
