
$standard-font = 'helvetica'

micro-voice()
  font-family: $standard-font
  font-size: 12px
  
calm-voice()
  font-family: $standard-font
  font-size: 16px
  
strong-voice()
  font-family: $standard-font
  font-size: 20px
  
loud-voice()
  font-family: $standard-font
  font-size: 40px

uppercase()
  text-transform: uppercase



article
  p, h2, h3, h4, h5, li
    a
      text-decoration: underline
      color: blue
