
body.page-id-20250
  // 
  .site-header, .site-footer
    display: none
    pointer-events: none
    visually-hidden()
    // just be gone... not for screen-readers

  /*
    THINGS THAT ARE THE SAME FOR
    SMALL AND LARGE LAYOUTS
  */

  .logo
    width: 100%
    max-width: 180px
    .la
      fill: alpha($black, .5)
    .takedown
      fill: $black

  a
    color: inherit

  .stuff
    inner-column
      display: flex // so we can reorder them
      flex-direction: column
    section
      // border: 1px solid blue



  .network-list
    display: flex
    flex-direction: row
    transform: translateX(-7px)
    margin-top: 2px
    .network
      width: 30px
      height: 30px
      padding: $pad*.5
      // margin-right: $pad





  .record-cover
    box-shadow: 0 0 3px alpha(black, .2)
    // because it's white on white...

  .links-to-buy
    remove-list-styles()
    display: flex
    flex-direction: row
    flex-wrap: wrap
    transform: translate(-($pad), 0)
    a
      display: block
      text-decoration: underline
      padding: $pad

  .event-list, .detail-list
    // should be global... 
    margin: 0
    padding: 0
    list-style: none
    
  .event-list
    // padding-bottom: 1rem
    .event
      //
    .event + .event
      margin-top: 1rem

  .detail-list
    .detail
      font-size: 11px
    .date
      // color: red
      font-size: 13px
    .title
      // color: blue
    .venue
      // color: green
    .link
      text-decoration: underline
      font-size: 15
      margin-top: .2rem
  .past
    font-size: 13px
    a
      text-decoration: underline
      
  .section-title
    display: none


@import '_natural-small'
@import '_natural-large'
