
body.page-id-20250
  // 
  @media (max-width: 899px)
    
    padding-bottom: $pad*10

    .content-toggle
      display: none
      visibility-hidden()

    video-background
      display: none
      visibility-hidden()

    .stuff
      section
        padding-top: $pad*4
        padding-bottom: $pad*4

      .section-heading
        strong-voice()
        margin-bottom: $pad*2
        padding-bottom: $pad*.5
        border-bottom: 1px solid alpha($black, .5)

      .branding
        // border: 1px solid red
        padding-top: $pad*4
        padding-bottom: $pad*2
        .logo
          max-width: 140px

      .record
        // border: 1px solid blue
    
      .record-cover
        width: 85%
        max-width: 400px
    
      .event-list
        // border: 1px solid red
        calm-voice()

      .detail-list
        .detail
          font-size: 14px
        .date
          // color: red
          font-size: 16px
        .title
          // color: blue
        .venue
          // color: green
        .link
          text-decoration: underline
          font-size: 16
          margin-top: .2rem


    .links-to-buy
      calm-voice()
      
    .overlay, .controls
      visually-hidden()
      display: none
      pointer-events: none
