
.page-section.events
  .no-shows-message
    strong-voice()
    font-style: italic
    font-weight: 200 // $shame
  .event-list
    //
  .events-break
    margin: $pad*4 0
  .past-heading
    strong-voice()
    margin: $pad*2 0 $pad*4
    opacity: .5
  .event
    //
    & + .event
      margin-top: $pad*4
